.switch{
    position: relative;
    width: 55px;
    height: 28px;

}
.switch input{
    width: 0;
    height: 0;
    opacity: 0;
}
.slider{
    position: absolute;
    background-color: hsl(143, 61%, 39%);
    border-radius: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

}
.slider:before{ 
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 20px;
    height: 20px;
    bottom: 4px;
    left: 6px;
    background-color:white;   
    transition: 0.3s;
}
.switch input:checked + .slider:before{
    transform: translateX(25px);
}
.switch input:checked + .slider{
    background-color: hsl(3, 77%, 44%);
}